<?php /** @var $block \Swissclinic\Stripe\Block\Stripe */ ?>
<?php $disabled = $block->getData('disabled');
    if  (!$disabled) :
    $_text = $block->getText();
    $url = $block->getUrlConfig();
?>
<div class="stripe">
    <?php echo ($url) ? "<a class=\"stripe__link\" href=\"{$url}\">" : "" ?>
    <span class="stripe__text"><?= $_text ?></span>
    <?php echo ($url) ? "</a>" : "" ?>
</div>
<script>
    require(["jquery"], function ($) {
        $('body').addClass('stripe-active')
    });
</script>
<?php endif; ?>