& when (@media-common = true) {
  .stripe {
    height: 30px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;

    .stripe__text {
      line-height: 16px;
      color: #FFFFFF;
      font-size: 12px;
      letter-spacing: .8px;
      font-family: @font-family__sans-serif;
      text-align: center;
      display: block;
      padding: 7px 0;
      width: 100%;
    }

    .stripe__link {
      width: 100%;
      height: 100%;
      display: flex;
      text-decoration: underline;
      color: #fff;
    }
  }
}
// Mobile
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
  .stripe-active .page-wrapper {
    padding-top: 110px;
  }
  .stripe-active .mobile-wrapper {
    top: 110px;
  }
}
// Mobile
.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
  .stripe-active .page-wrapper {
    padding-top: 110px;
  }
}
